.logo {
    transition: transform 0.3s ease; 
}

.logo:hover {
    transform: scale(1.1); 
}

.navbar-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: 991px) {
.navbar-links {
    display: flex;
    flex-direction: column;
}
}