.button-container button {
  background-color: orange;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #b3072c;
}

Form {
  width: 700px;
}

@media screen and (max-width:768px) {
  Form {
    width: 550px;
  }
}

@media screen and (max-width:596px) {
  Form {
    width: 85svw;
  }
}