.timer-block {
    display: grid;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
    width: vw;
    height: vh;
    text-transform: capitalize;
    color: white;
    text-align: center;
    padding: 30px;
    margin-bottom : 40px;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: auto auto auto; 
    gap: 20px;

    grid-template-areas:
      "description description timer-wrap"
      "video-container demonstration timer-wrap"
  }
  
  .description {
    grid-area: description;
    display: grid;
    min-width: 300px; 
    height: auto;
  }
  
  .description-header {
    margin-top: 20px;
    text-transform: uppercase;
  }
  
  .description-text {
    margin-top: 20px;
    font-size: 16px;
    line-height: 2;
    word-spacing: 0.2em;
    text-transform: capitalize;
  }
  
  .demonstration {
    grid-area: demonstration;
    min-width: 300px; 
    height: 100%; 
    width: 100%;
    display: grid;
    background: transparent;
    overflow: hidden; 
    }

    .video-container{
      grid-area: video-container;
      min-width: 300px; 
      width: 100%;
      height: 100%; 
      display: grid;
      overflow: hidden;
      background: transparent;
     }

  .iframe-wrapper {
    position: relative;
    width: 100%; 
    padding-top: 56.25%; 
    overflow: hidden;
    margin-left: 25%;
  }
  
  .iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border: none; 
    overflow: hidden;
    align-items: center;
  }

  .iframe-wrapper_video iframe {
    border: none; 
    overflow: hidden;
    position: relative;
    overflow: hidden;
    min-height: 360px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;


  }

  
  .demonstration-header {
    margin-top: 20px;
    margin-bottom: 15px;
    text-transform: uppercase;
    overflow:hidden;

  }
  
  .timer-wrap {
    grid-area: timer-wrap;
  }
  
  /* Media query for mobile devices */
  @media (max-width: 970px) {
    .timer-block {
      grid-template-columns: 1fr; 
      grid-template-areas:
        
        "timer-wrap"
        "video-container"
        "description"
        "demonstration";
    }
  
    .description,
    .video-container,
    .demonstration {
      min-width: 100%;
      /* margin: 10px 20px;  */
    }
  }
  
  