.main-exercise-container {
  align-items: center;
  justify-content: center;
  margin: 0 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  border: solid black;
}

.exercise-container {
  display: flex;
  width: 20dvw;
  flex-direction: column;
}

h4 {
  text-align: center;
  color: white;
}
/* .info {
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
  padding: 10px;
  align-items: center;
  text-align: justify;
} */

.img {
  height: 30dvh;
}