.home-title {
    text-align: center;
    padding: 10px;
    color: aliceblue;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 3rem;

}


.home-description {
    text-align: center;
    font-size: 1.7rem;
    padding: 10px;
    color: aliceblue;
    margin-bottom: 20px;

}


