.timer-block {
    display: grid;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
    width: vw;
    height: vh;
    text-transform: capitalize;
    color: white;
    text-align: center;
    padding: 30px;
    margin-bottom : 40px;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: auto auto auto; 
    gap: 20px;
    grid-template-areas:
      "description description timer-wrap"
      "video-container demonstration timer-wrap"
  }
  
  .description {
    grid-area: description;
    display: grid;
    min-width: 300px; 
    height: auto;
  }
  
  .description-header {
    margin-top: 20px;
    text-transform: uppercase;
  }
  
  .description-text {
    margin-top: 20px;
    font-size: 16px;
  }
  
  .demonstration {
    grid-area: demonstration;
    height: 400px; 
    display: grid;
    background: transparent;
    overflow: hidden; 
    /* border-radius: 10px;  */
    }

    .video-container{
      grid-area: video-container;
      min-width: 300px; 
      height: 100%; 
      display: grid;
      border-radius: 10px;
      overflow: hidden;
      border-radius: 10px; 
  
    }
  .iframe-wrapper {
    position: relative;
    width: 100%; 
    padding-top: 56.25%; 
    overflow: hidden;
  }
  
  .iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%; */
    /* height: 100%; */
    border: none; 
    overflow: hidden;
  }

  
  .demonstration-header {
    /* margin-top: 20px; */
    text-transform: uppercase;

  }
  
  .timer-wrap {
    grid-area: timer-wrap;
  }
  
  
  /* Media query for mobile devices */
  @media (max-width: 970px) {
    .timer-block {
      grid-template-columns: 1fr; /* Single column layout for mobile */
      grid-template-areas:
        
        "timer-wrap"
        "video-container"
        "description"
        "demonstration";
    }
  
    .description,
    .video-container,
    .demonstration {
      min-width: 100%;
      /* margin: 10px 20px;  */
    }
  }
  
  