.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-bottom: 80px;
}

.circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(to bottom right, orange, #b3072c);
    display: flex;
    justify-content: center;
    align-items: center;
}

.time {
    font-size: 32px;
    color: white;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 180px;
    
    
}

.buttons button {
    background-color: orange;
    color: white;
    border: none;
    padding: 20px 30px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 15px;
    margin-left: 10px;
    
}

.buttons button:hover {
    background-color: #b3072c;
}

.records table {
    width: 600px;
    margin: 0 auto;
    border-collapse: collapse;
    
}

.records table th,
.records table td {
    padding: 8px;
    text-align: center;
    border: #b3072c solid 5px;
}

.records table th {
    border: #b3072c solid 5px;
    color: white;
    font-size: 20px;
}


.records-timer__page {
    margin-top: 100px;


}
